<p>
	<label for="settings_redpoll_group"><%=I18n.t('redpoll_group') %></label>
	<input type="text" id="settings_redpoll_group" size=40 value="<%= settings['redpoll_group'] %>" name="settings[redpoll_group]" />
</p>
<p>
	<label for="settings_redpoll_user_format"><%=I18n.t('redpoll_user_format') %></label>
	<input type="text" id="settings_redpoll_user_format" size=40 value="<%= settings['redpoll_user_format'] %>" name="settings[redpoll_user_format]" />
</p>
